<div class="slot-machine">
  <div class="slot" [class.invalid]="invalidSentence">
    <div class="slot-content">{{ randomArticle }}</div>
  </div>
  <div class="slot" [class.invalid]="invalidSentence">
    <div class="slot-content">{{ randomAdjective }}</div>
  </div>
  <div class="slot" [class.invalid]="invalidSentence">
    <div class="slot-content">{{ randomNoun }}</div>
  </div>
  <div class="slot" [class.invalid]="invalidSentence">
    <div class="slot-content">{{ randomVerb }}</div>
  </div>
  <div class="slot" [class.invalid]="invalidSentence">
    <div class="slot-content">{{ randomPreposition }}</div>
  </div>
  <div class="slot" [class.invalid]="invalidSentence">
    <div class="slot-content">{{ randomPronounObject }}</div>
  </div>
  <button (click)="generateRandomSentence()">Spin</button>
  <p>{{nombre}}</p>
  <button (click)="clearFields()">Clear</button>
  <p class="result">Result: {{ sentence }}</p>
</div>
